<div class="app-container" data-velt-comment-disabled>
	<div class="main-content">
		<nav class="breadcrumb">
			<span>Open Tasks</span> / <span>Build a feedback tool</span>
		</nav>

		<h1 class="task-title">Build a feedback tool</h1>

		<p class="task-description">Add description...</p>


		<div class="task-meta">
			<div class="avatar">A</div>
			<span class="creator-info">Alan created the task, 2 mins ago</span>
		</div>

		<hr class="divider">

		<velt-comments></velt-comments>
		<velt-inline-comments-section target-comment-element-id="container-id" shadow-dom="false"
			dialog-variant="dialog-variant" variant="inline-section-variant">
		</velt-inline-comments-section>
	</div>
</div>